# Configuration file

####################
# general
####################

general {
    # Item and Armor IDs that shine light when found on any EntityLiving. Syntax: ItemID:LightValue, seperated by commas
    S:LightItems=11078:13,11079:13,11080:13,11081:13,11082:13,11083:13,11084:13,11085:13,11086:13

    # Update Interval time for all EntityLiving in milliseconds. The lower the better and costlier.
    I:"update Interval"=500
}


